
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

.box-0{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box-0-1{
    padding-left: 150px;
}

.box-0-2 .nav{
    display: flex;

}
.box-0-2 .nav li{
    list-style: none;
    padding: 0 15px;
}
.box-0-2 .nav li a{
    text-decoration: none;
    position: relative;
    color: hsl(233, 8%, 62%);

}
.box-0-2 .nav li a:hover{
    color:hsl(233, 26%, 24%) ;

}
.box-0-2 .nav li a:hover:after {
  content: '';
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  position: absolute;
  top: 54px;
  left: 0;
}
/* // phone-nav */
.box-0-2 .phone-nav li{
    list-style: none;
    display: none;
    padding: 0 10px;
}
/* // */
.box-0-3{
    padding-right: 150px;
}
.box-0-3 button{
    color: hsl(0, 0%, 100%) ;
    border: none;
    padding: 15px 40px;
    border-radius: 30px;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}
.box-0-3 button:hover{
    background: linear-gradient(to right, hsl(136, 52%, 65%), hsl(192, 61%, 63%));
}

.btnd{
    display: none;
}
/* open nav */
.open-nav{
    display: none;
    border: none;
    background-color: transparent;
}
.open-nav img{
    width: 40px;
}
/* //§§ */
/* close nav */
.close{
    display: none ;
    border: none;
    background-color: transparent;
}
.close img{
    width: 40px;
}
/* //§§ */
@media (max-width:1020px) {.box-0-3{display: none;}.box-0-2{padding-right: 2%;}.box-0-1{padding-left: 4%;}}

@media (max-width:620px){
    .btnd{
        display: block;
    }
    .box-0-2 .nav{
        display: none;
    
    }
    /* open nav */
.open-nav{
    display: block;

}
/* close nav */
.close{
    display: none;
}
.box-0-2 .phone-nav{
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 140px;
    left: 50%;
    transform: translateX(-50%); /* Center vertically */
    width: 80%;
    height: 320px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 6px;
}
.box-0-2 .phone-nav li{
    display: block;
    position: relative;
    margin: 20px 0;
}
.box-0-2 .phone-nav li a{
    text-decoration: none;
    color: hsl(233, 8%, 62%);

}
.body::after{
    background-color:hsla(233, 8%, 62%, 0.363);
    content: '';
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 100px;
    z-index: -1;
    list-style:  none;
}
}