:root {
  --padding-10: 10%;
  --color-white: hsl(0, 0%, 100%);
  --color-gray-light: hsl(233, 8%, 62%);
  --color-gray-dark: hsl(233, 26%, 24%);
  --color-background-light: hsl(0, 0%, 98%);
  --color-background-gray: hsl(220, 16%, 96%);
  --color-accent-light: hsl(136, 65%, 51%);
  --color-accent-dark: hsl(192, 70%, 51%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

.body {
  position: relative;
}
.all-divs {
  width: 100%;
  overflow: hidden;
}
.box-0 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: var(--color-white);
  z-index: 99;
}
.box-0-1 {
  padding-left: var(--padding-10);
}

.box-0-2 .nav {
  display: flex;
}
.box-0-2 .nav li {
  list-style: none;
  padding: 0 15px;
}
.box-0-2 .nav li a {
  text-decoration: none;
  position: relative;
  color: var(--color-gray-light);
}
.box-0-2 .nav li a:hover {
  color:var(--color-gray-dark);
}
.box-0-2 .nav li a:hover:after {
  content: "";
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, var(--color-accent-light), var(--color-accent-dark));
  position: absolute;
  top: 54px;
  left: 0;
}
/* // phone-nav */
.box-0-2 .phone-nav li {
  list-style: none;
  display: none;
  padding: 0 10px;
}
/* // */
.box-0-3 {
  padding-right: 150px;
}
.button {
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 15px 40px;
  border-radius: 30px;
  background: linear-gradient(to right,var(--color-accent-light), var(--color-accent-dark));
}
.button:hover {
  background: linear-gradient(to right, hsl(136, 52%, 65%), hsl(192, 61%, 63%));
}

.btnd {
  display: none;
}
/* open nav */
.open-nav {
  display: none;
  border: none;
  background-color: transparent;
}
.open-nav img {
  width: 40px;
}
/* //§§ */
/* close nav */
.close {
  display: none;
  border: none;
  background-color: transparent;
}
.close img {
  width: 40px;
}
/* //§§ */



.box-1 {
  background-color: var(--color-white);
  width: 100%;
  height: 900px;
  display: flex;
}
.box-1 .box-1-1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100%;
  width: 50%;
  padding: var(--padding-10);
}
.box-1 .box-1-1 h2 {
  font-size: 60px;
  font-weight: 300;
  padding-bottom: 30px;
}
.box-1 .box-1-1 p {
  font-size: 18px;
  padding-bottom: 30px;
  color: var(--color-gray-light);
}
.box-1-2 {
  width: 50%;
  height: 100%;
  background-image: url(images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-size: 113rem;
  background-position: left;
  z-index: 1;
}

.box-1-2 div {
  width: 100%;
  height: 100%;
}

.box-1-2 div img {
  width: 60rem;
  position: relative;
  left: 8.6rem;
  top: 12px;
}
/* /// */
.box-2 {
  background-color: var(--color-background-gray);
  width: 100%;

  padding: 7% 10%;
}
.box-2-1 {
  width: 60%;

  margin-bottom: 6rem;
}
h3 {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 30px;
  color:var(--color-gray-dark);
}
.box-2-1 p {
  font-size: 18px;
  color: var(--color-gray-light);
}
.box-2-2 {
  display: flex;
  gap: 50px;
  width: 100%;
}
.box-2-2 div img,
.box-2-2 div h4 {
  margin-bottom: 30px;
  color: var(--color-gray-dark);
  font-weight: 500;
}
.box-2-2 div p {
  color: var(--color-gray-light);
  font-size: 18px;
}
/* ////// */
.box-3 {
  width: 100%;
  padding: 5% 10%;
  background-color: var(--color-white);
}
.box-3-1 {
  margin-bottom: 80px;
}
.box-3-2 {
  display: flex;
  gap: 40px;
}
.card {
  width: 30%;
}
.card .image img {
  width: 100%;
  height: 200px;
  border-radius: 4px;
}
.card .text{
  padding: 0 20px;
  width: 100%;

}
.card .text p{
  font-size: 14px;
  margin: 20px 0;
  color: var(--color-gray-light);
}
.card .text a{
  text-decoration: none;
  font-weight: 500;
  color: var(--color-gray-dark);
}
.card .text a:hover{
  color: var(--color-accent-dark);
}
.line-height{
  line-height: 1.5rem;
}

footer{
  background-color: var(--color-gray-dark);
  width: 100%;
  padding: 5% var(--padding-10);
  display: flex;
  gap: 18%;
}
.logo path{
  fill: var(--color-white);
}
.logo{
  margin-bottom: 30px;
}
.socialmedia{
  display: flex;
  gap: 15px;
  margin-top: 30px;
}
.socialmedia svg:hover path{
  fill: var(--color-accent-dark);
}

.div2,.div3{
  display: flex;
  flex-direction: column;
}

.div2 a,.div3 a{
  text-decoration: none;
  margin-bottom: 30px;
  color: var(--color-white);
}

.div2 a:hover,.div3 a:hover{
    color:var(--color-accent-dark);
}

 .div4{ 
  width: 20%;
  text-align: end;
}
.div4 p{
  margin-top: 60px;
  color: var(--color-gray-light);
}

@media (max-width: 1020px) {
  .box-0-3 {
    display: none;
  }
  .box-0-2 {
    padding-right: 10%;
  }
  .box-0-1 {
    padding-left: 10%;
  }

  .box-3-1 {
    margin-bottom: 0;
    text-align: center;
   }
  .box-3-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .card {
    width: 400px;
  }
  .card .image img {
    width: 100%;
    height: 50%;
  }

  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .logo{
    margin-bottom: 10px;
  }
  .div2,.div3{
    text-align: center;
  }
  
  
   .div4{

    width: 80%;
    text-align: center;
  }
  .div4 p{
    margin-top: 20px;
  }
  .socialmedia{
    display: flex;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 770px) {
  .btnd {
    display: block;
  }
  .box-0-2 .nav {
    display: none;
  }
  /* open nav */
  .open-nav {
    display: block;
  }
  /* close nav */
  .close {
    display: none;
  }
  .box-0-2 .phone-nav {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 140px;
    left: 50%;
    transform: translateX(-50%); /* Center vertically */
    width: 80%;
    height: 320px;
    background-color: var(--color-white);
    border-radius: 6px;
  }
  .box-0-2 .phone-nav li {
    display: block;
    position: relative;
    margin: 20px 0;
  }
  .box-0-2 .phone-nav li a {
    text-decoration: none;
    color: var(--color-gray-dark);
  }
  .body::after {
    background-color:var(--color-gray-dark);
    content: "";
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 100px;
    z-index: 1;
  }
  /* /////////////////// */
  .box-1 {
    height: 1000px;
    flex-direction: column-reverse;
  }
  .box-1 .box-1-1 {
    align-items: center;
    height: 50%;
    width: 100%;
    padding-bottom: 100px;
  }
  .box-1 .box-1-1 h2 {
    font-size: 40px;
    text-align: center;
  }
  .box-1 .box-1-1 p {
    text-align: center;
  }
  .box-1-2 {
    width: 100%;
    height: 50%;
    background-image: url(images/bg-intro-mobile.svg);
    background-size: cover;
    background-position: center;
  }

  .box-1-2 div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box-1-2 div img {
    width: 88%;
    position: relative;
    left: 0;
    top: 0;
  }

  .box-2 {
    background-color:var(--color-background-gray);
    width: 100%;

    padding: 7% 10%;
  }
  .box-2-1 {
    width: 100%;
    text-align: center;
    margin-bottom: 6rem;
  }
  .box-2-1 h3 {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 30px;
  }
  .box-2-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
    width: 100%;
  }
  .box-2-2 div img,
  .box-2-2 div h4 {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 25px;
  }
  .box-2-2 div p {

    font-size: 18px;
  }
  .box-2-2 div {
    margin-bottom: 40px;
    width: 80%;
  }
  .card {
    width: 90%;
  }
}
